<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content >
    <mat-form-field>
        <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="selected.nombre" [readonly]="this.customer.readonly">
    </mat-form-field>
     <mat-form-field>
        <input matInput placeholder="cantidad" name="camtidad" [(ngModel)]="selected.cant" [readonly]="this.customer.readonly">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="precio" name="precio" [(ngModel)]="selected.precio" [readonly]="this.customer.readonly">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)='onSaveForm()' *ngIf="!this.customer.readonly" >
        <mat-icon>save</mat-icon>Guardar
    </button>
</div>